{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<style>
  h6{
    color: #00e1b1;
  }
</style>
<div class='container'>
  <p></p>
  <p></p>
  <p></p>
  <div class="jumbotron">
    <h1><strong>About this Company</strong></h1>
    <p></p>
    <p></p>
    <h3><i>Thank You for Visiting.</i></h3>
    <p></p>
    <p></p>
    <h6 class=" credit small font-weight-bold"><i class="fas fa-code"></i> with <i class="fas fa-heart"></i> by Deepa</h6>

  </div>
<a href="#"><img src="{% static 'blog\media\deepa.JPG'%}" alt=""></a>
</div>
{%endblock%}
